:root{
  --background: #1C1C1C;
  --theme: #ECB440;
  --title: #FFFFFF;
  --primary: #E3E3E3;
  --secondary: #B3B3B3;
  --tertiary1: #848484;
  --tertiary2: #606060;
  --partition: #393939;
}
@font-face {
  font-family: 'Equinox';
  src: url(./../src/assets/fonts/FontsFree-Net-EquinoxRegular.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Montserrat';
  src: url(./../src/assets/fonts/montserrat-v25-latin-regular.ttf); 
}

body {
  margin: 0px;
  background-color: var(--background);
  font-family: Equinox;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: Equinox;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
}
.nav{
  margin: 1.5% auto ;

  width: 70%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.navbox{
  display: flex;
  justify-content: space-between;
  width: 40%;
  border: 1px solid var(--secondary);
  padding: 1.5% 2%;
  border-radius: 3em;
  font-size: 12px;
}

.link{
  color: var(--primary);
  text-decoration: none;
}

/* .link:{
  background-color: var(--primary);
} */
.logo{
  width: 15%;
}

.icon{
  color: var(--primary);
  font-size: 24px;
}

.NavSocials{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.NavSocials a{
  text-decoration: none;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  background-color: var(--theme);
}


/* Home Page */

.photos{
  height: 85%;
  width: 100%;
  background-color: #DEDBDB;
  border-top: 0.05rem solid #DEDBDB;
}
.photos_row1{
  height: 60%;
  width:100%;
  display : flex;
}
.photos_row1_1{
  height: 100%;
  width: 60%;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 150px;
  height: 1px;
  margin-left: 5px;
  margin-top: 35px;
  background-color: var(--title);
}
.photos_row1_1_text{
  background-color: transparent;
  font-family: 'Equinox';
  position: relative;
}
.photos_row1_1_circlelogo{
  position: absolute;
  top: 13%;
  left: -30%;
}

.photos_row1_2{
  height: 100%;
  width: 40%;
  background-color: red;
}
.photos_row2{
  height: 40%;
  width: 100%;
  display: flex;
}
.photos_row2_1{
  height: 100%;
  width: 37%;
  background-color: red;
}
.photos_row2_2{
  height: 100%;
  width: 32%;
  background-color: #ECB440;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos_row2_3{
  height: 100%;
  width: 32%;
  background-color: #FAE3B5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Project */

.cont{
  display: flex;
}

.Main-1{
  width: 80%;
  border-top: 1px solid #848484;
}

.Hero{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}
.Hero .hero-title-1{
  font-family: Montserrat;
  font-style: italic;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--title);
}

.Hero .hero-title-1 div{
  width: 100px;
  height: 1px;
  background-color: var(--primary);
  align-items: center;
}

.Hero .hero-title-1 img{
  width: 30%;
  margin-left: -10%;
}

.Hero .hero-title-2{
  margin-top: -5%;
  margin-left: -20%;
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--theme)
}

.Main-1 .grad{
  background-image: url(./assets/Gradient.png);
  background-size: cover ;
  height: 100px;  
}

.Main-2{
  width: 40%;
  display: flex;
}
.Main-2>div{
  width: 20%;
  height: 100%;
  background-color: #ECB440;
}

.Main-2 .text{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: #FAE3B5;
  color: var(--theme);
  font-size: 2rem;
}

.Main-2 .text div{
  width: 75%;
}

.project-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.inner-container{
  width: 70%;
}

/* Card */
.card{
  width: 180px !important;
  height: 180px !important;
  border-radius: 8px;
}

.cardFront{
  background-image: url(./assets/Card.png);
  background-size: cover;
}

.cardFront h3{
  color: var(--title);
}

.cardBack{
  padding: 10px;
}

.cardBack p{
  font-size:x-small;
  text-align: justify;
  font-weight: 600;
  text-overflow: clip;
  font-family: Montserrat;
}

.project-type{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  color: var(--title);
}

.project-type div{
  width: 150px;
  height: 1px;
  margin-left: 5px;
  background-color: var(--title);
}

/* Carousel */

.carousel{
  background-color: var(--primary);
  font-size: 1rem;
  padding: 0.2em;
}

/* footer */
.footer-container{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  overflow: hidden;
}

.footer-container .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container .left .footer-icons{
  display: flex;
  margin-top: 10%;
}


.footer-container .right img{
  width: 50%;
}

.credit{
  padding: 0.5% 0;
  background-color: #1C1C1C;
  color: var(--primary);
  text-align: center;
}
