:root{
  --background: #1C1C1C;
  --theme: #ECB440;
  --light-theme: #FAE3B5;
  --title: #FFFFFF;
  --primary: #E3E3E3;
  --secondary: #B3B3B3;
  --tertiary1: #848484;
  --tertiary2: #606060;
  --partition: #393939;
}

body {
  margin: 0px;
  background-color: var(--background);
  font-family: Equinox;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  margin: 1.5% auto ;

  width: 70%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.navbox{
  display: flex;
  justify-content: space-between;
  width: 40%;
  border: 1px solid var(--secondary);
  padding: 1.5% 2%;
  border-radius: 3em;
  font-size: 12px;
}

.link{
  color: var(--primary);
  text-decoration: none;
}


.logo{
  width: 15%;
}

.icon{
  color: var(--primary);
  font-size: 24px;
}

.NavSocials{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.NavSocials a{
  text-decoration: none;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 30px;
  background-color: var(--theme);
}

/* Project */

.cont{
  display: flex;
}

.Main-1{
  width: 80%;
  border-top: 1px solid var(--tertiary1);
}

.Hero{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}
.Hero .hero-title-1{
  font-family: Montserrat;
  font-style: italic;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--title);
}

.Hero .hero-title-1 div{
  width: 100px;
  height: 1px;
  background-color: var(--primary);
  align-items: center;
}

.Hero .hero-title-1 img{
  width: 30%;
  margin-left: -10%;
}

.Hero .hero-title-2{
  margin-top: -5%;
  margin-left: -20%;
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--theme)
}

.Main-1 .grad{
  background-image: url(./assets/Gradient.png);
  background-size: cover ;
  height: 100px;  
}

.Main-2{
  width: 40%;
  display: flex;
}
.Main-2>div{
  width: 20%;
  height: 100%;
  background-color: var(--theme);
}

.Main-2 .text{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: var(--light-theme);
  color: var(--theme);
  font-size: 2rem;
}

.Main-2 .text div{
  width: 75%;
}

.project-container{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.inner-container{
  width: 70%;
}

/* Card */
.card{
  width: 180px !important;
  height: 180px !important;
  border-radius: 8px;
}

.cardFront{
  background-image: url(./assets/Card.png);
  background-size: cover;
}

.cardFront h3{
  color: var(--title);
}

.cardBack{
  padding: 10px;
}

.cardBack p{
  font-size:x-small;
  text-align: justify;
  font-weight: 600;
  text-overflow: clip;
  font-family: Montserrat;
}

.project-type{
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  color: var(--title);
}

.project-type div{
  width: 150px;
  height: 1px;
  margin-left: 5px;
  background-color: var(--title);
}

/* Carousel */

.carousel{
  background-color: var(--primary);
  font-size: 1rem;
  padding: 0.2em;
}

/* footer */
.footer-container{
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  overflow: hidden;
}

.footer-container .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container .left .footer-icons{
  display: flex;
  margin-top: 10%;
}


.footer-container .right img{
  width: 50%;
}

.credit{
  padding: 0.5% 0;
  background-color: var(--background);
  color: var(--primary);
  text-align: center;
}

/* Photo Gallery */
.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49.5%;
}

.photo .Hero .hero-title-2{
  margin-top: -10% ;
  margin-left: -50%;
}

.partition{
  height: 2vh;
  background-image: url(./assets/Gradient.png);
}

.gallery-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
}

.gallery-container>div{
  color: var(--primary);
  display: flex;
  align-items:  center;
}

.gallery-container>div>h3{
  font-size: 1.5rem;
}

.gallery-container>div>.line{
  background-color: var(--primary);
  height: 0.1em;
  width: 10em;
  margin-left: 1em;
}

.gallery{
  display: flex;
  flex-direction: column;
  
}

.gallery .row{
  display: flex;
}

.gallery .row .big{
  background-color: oldlace;
  width: 30vw;
  height: 30vh;
}

.gallery .row .column{
  width:30vw;
  height: 30vh;
  display: flex;
}

.gallery .row .column div{
  display: flex;
  flex-direction: column;
}

.gallery .row .column div .block{
  width: 15vw;
  height: 15vh;
  margin: 0.1em;
  background-color: var(--primary);
}











